body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 1em 0;
}

header h1 {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}

/* Add a current page indicator */
nav .current {
  background-color: #555;
}

section {
  padding: 4em 0;
}

section h2 {
  color: #333;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.service {
  flex: 1;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
}
.service:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.car-list {
  display: flex;
  flex-wrap: wrap;
}

.car {
  flex: 1;
  margin: 20px;
}

car img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffc107;
  color: #333;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
}
.call-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 8px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
}

.call-link:hover {
  background-color: #444;
}

.icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 8px;
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.whatsapp-call-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 8px;
  background-color: #25d366;
  color: #fff;
  border-radius: 4px;
}

.whatsapp-call-link:hover {
  background-color: #33d470;
}

.whatsapp-icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
